MONGO_URI=mongodb+srv://farmplan_Demo:s9DpySkryHGHl0yR@cluster0.ihcfaul.mongodb.net/
MONGO_DB=farmplan
MONGO_COLLECTION=treeline_planning
TREELINE_CSV_PATH=../20260320_Neorx-treeline-planning.csv
FLASK_PORT=5000
